@{
    ViewBag.Title = "About Jorge";
}


<div class="page-content">
    <h1 class="mb0">@ViewBag.Title</h1>
    <div class="meta"><span>Web Designer</span>, <span>Web Developer</span>, <span>Speaker</span></div>
    <p class="text-center"><img src="~/_Archive/images/download.png" /></p>
    <p>

        I love rock climbing with friends and trying out the best coffee around, but what I really enjoy is solving problems to build relationships. Over time, I have learned that there is a lack of communication in our society and I have identified myself as a liaison through branding and user-interfaces to help people communicate their passions to the world through creative art and technology.
    </p>
    <p>
        Therefore, I chose technology as my career path. Throughout my life there has been a natural inclination that has led me to work with technology in graphic and web design such as Adobe Suite and Sketch as well as content management systems such as Square Space, but as time went on and I picked up more difficult jobs, I found myself needing to learn to code in order to solve my client’s problems in one complete package, which is how I found my way to Centriq.
    </p>
    <p>
        I have learned so much about myself through these past four months. One of the main things that stuck out to me is that problems are fun. Solving them and reaching a solution is exceedingly satisfying to me. Throughout my life I have loved to solve problems, from being obsessed with my math homework in grade school to learning better designing techniques and using the related technology to do so. It has always intrigued me to find a solution I did not previously have and to figure out how to incorporate it in my future projects.
    </p>
    <h3>Technologies Used</h3>
    <ul class="square">
        <li>HTML, CSS, JavaScript</li>
        <li>C#</li>
        <li>SQL</li>
    </ul>
</div>
